/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to right, #3eaeea, #35efe2);
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 40px;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.nav-brand {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-brand {
  text-decoration: none;
  color: #eaeaea;
  font-size: 0.95rem;
  position: relative;

    list-style: none;
  display: flex;
  gap: 28px;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #eaeaea;
  font-size: 0.95rem;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #3a86ff;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/* HERO SECTION */
.hero {
  position: relative;
  height: 100vh;
  padding-top: 70px; /* offset for fixed navbar */
  overflow: hidden;

  display: flex;
  align-items: center;
}

/* CRISP BACKGROUND IMAGE */
.hero-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

/* DARK OVERLAY */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

/* HERO TEXT */
.hero-content {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: 8%;
  text-align: right;
  transform: translateY(-20px);
}

.hero-title {
  font-size: clamp(2.8rem, 6vw, 5rem);
  font-weight: 700;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: 2px;
}

.hero-title span {
  display: block;
  font-size: clamp(2.8rem, 6vw, 5rem);
  font-weight: 900;
  color: #1e3cff;
  letter-spacing: 6px;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

/* HERO BUTTON */
.hero-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 14px 38px;

  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: white;
  text-decoration: none;

  border: 2px solid white;
  border-radius: 30px;

  transition: all 0.3s ease;
}

.hero-btn:hover {
  background: white;
  color: #09015e;
  transform: translateY(-3px);
}
