/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* FULL SCREEN CENTER */
html, body {
  width: 100%;
  height: 100%;
}


body {
  display: grid;
  place-items: center;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
}

/* CARD (INSPO STYLE) */
.card {
  max-width: 420px;
  width: 100%;
  padding: 48px 36px;
  border-radius: 20px;

  background: rgba(118, 113, 113, 0.15);
  backdrop-filter: blur(8px);

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  text-align: center;

  animation: fadeIn 0.5s ease forwards, float 2.2s ease-in-out infinite;
}



/* TITLE */
.card h1 {
  font-size: 2.2rem;
  margin-bottom: 32px;
  color: #ffffff;
}

/* INPUTS */
.form-control {
  border-radius: 10px;
  padding: 10px 12px;
}

/* BUTTON */
.btn-custom {
  display: inline-block;
  width: 100%;
  padding: 14px;
  border-radius: 999px;
  border: none;

  background: linear-gradient(to top, #09203f, #537895);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;

  cursor: pointer;
  transition: 0.3s ease;
}

.btn-custom:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0, 180, 216, 0.4);
  opacity: 0.95;
}

/* FOOTER LINK */
footer {
  margin-top: 30px;
  font-size: 0.9rem;
}

footer a {
  text-decoration: none;
  color: #f9f8f8;
  opacity: 0.7;
}

footer a:hover {
  opacity: 1;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
