/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: #f8f8f8;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background: linear-gradient(to bottom, #111, #000);
  padding: 16px 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.nav-logo {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 28px;
}

.nav-links a {
  text-decoration: none;
  color: #eaeaea;
  font-size: 0.95rem;
  position: relative;
}

.nav-brand {
  text-decoration: none;
  color: #eaeaea;
  font-size: 0.95rem;
  position: relative;

    list-style: none;
  display: flex;
  gap: 28px;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #3a86ff;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/* HERO SECTION */
.hero {
  min-height: calc(100vh - 72px); /* FULL screen minus navbar */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 40px;
}

/* HERO LAYOUT */
.hero-content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

/* LEFT CARD */
.hero-text {
  max-width: 520px;
  padding: 48px 36px;
  border-radius: 20px;

  background: rgba(77, 76, 96, 0.37);
  backdrop-filter: blur(8px);

  box-shadow: 0 40px 90px rgba(0, 0, 0, 0.521);
  text-align: center;
}

/* TEXT */
.hero-text h1 {
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 12px;
}

.hero-text h2 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #d0d0d0;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.05rem;
  line-height: 1.7;
  margin-bottom: 30px;
}

/* BUTTON */
.hero-btn {
  display: inline-block;
  padding: 14px 36px;
  border-radius: 999px;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(to top, #09203f, #537895);
}

.hero-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0, 180, 216, 0.4);
  opacity: 0.95;
}

/* IMAGE */
.hero-image {
  max-width: 420px;
}

.hero-image img {
  width: 100%;
  border-radius: 32px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.25);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
  }
}
